/********************************************************
 ********************************************************
                    CONSTANTS
                    Used in HTML and JS pages
 ********************************************************
 ********************************************************/


:root {
  /*****************
   THEME COLORS
   *****************/
  --theme-green: #00A176;
  --theme-purple: #706398;
  --theme-red: #C1573D;
  --light-green: #22d4a4;
  --light-purple: #9c89d6;
  --light-red: #db8069;
  --bg-gray: #b7c3c9;
}



/********************************************************
 ********************************************************
                    GERERAL FORMATS
 ********************************************************
 ********************************************************/


body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  overflow-wrap: break-word;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a:link, a:visited, a:hover {
  color: var(--theme-green);
}
a:hover {
  text-decoration: underline;
}
table, th, td {
  width: 100%;
}
table {
  table-layout: fixed;
}
ol.body-list {
  color: black;
  font-size: 1.0em;
  list-style-type: upper-roman;
}
ul.body-list {
  color: black;
  font-size: 1.0em;
  list-style: circle;
}
li {
  padding-left: 10px;
  font-weight: normal;
}
button:focus {
  outline:0;
}



/********************************************************
 ********************************************************
                      BODY CONTENT
 ********************************************************
 ********************************************************/


#body-container {
  position: relative;
  left: 10%;
  width: 80%;
  height: 100%;
}
#body-title {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--bg-gray);
  padding-left: 10%;
}
#body-subtitle {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-top: 30px;
  padding-bottom: 20px;
}
#body-bold-remark {
  color: black;
  font-size: 1.0em;
  font-weight: bold;
  padding: 20px 0px;
}

#body-text {
  color: black;
  font-size: 1.0em;
  font-weight: normal;
}



/********************************************************
 ********************************************************
                    DEFAULT TABLE
 ********************************************************
 ********************************************************/


/****************************************
            REGULAR SIZE
            (leaderboard.html)
 ****************************************/

.default-table {
  color: black;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
}
.default-table tr:first-child {
  background-color: var(--theme-green);
}
.default-table tr:first-child th {
  color: #FFF;
}
.default-table tr {
  background-color: white;
}
.default-table tr:nth-child(2) > td {
  border-top-width: 0;
}
.default-table th, .default-table td {
  margin: 0;
  padding: 0.5em 1.5em;
  text-align: center;
  border-width: 1px 0;
  border-color: var(--theme-green);
  border-style: solid;
}
.default-table th {
  border-bottom-width: 4px;
  border: none;
}
.default-table td:nth-child(n+2) {
  border-left-width: 4px;
  border-color: var(--theme-green);
  border-style: solid;
}

.leaderboard-table tr th:nth-child(1) {
  width: 20%;
}
.leaderboard-table tr th:nth-child(2) {
  width: 50%;
}
.leaderboard-table tr th:nth-child(3) {
  width: 30%;
}


/****************************************
          CONDENSED SIZE
          (stream_dashboard.html)
 ****************************************/

.default-table-small th, .default-table-small td {
  padding: 3px 10px;
}



/********************************************************
 ********************************************************
                    SIDE NAVIGATION BAR
 ********************************************************
 ********************************************************/


.sidenav {
  height: 100%;
  padding-right: 10px;
  position: relative;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sidenav div {
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.0em;
  color: black;
  display: block;
}

.sidenav div:hover {
  color: var(--theme-red);
  background-color: white;
  cursor: pointer;
}

.active-sidenav {
  background-color: white;
}

@media screen and (max-width: 800px) {
  .sidenav { width: 100%; }
}


/********************************************************
 ********************************************************
                    DYNAMIC HEADER
 ********************************************************
 ********************************************************/


/* NORMAL HEADER */
@media screen {
  #header-small { display: none; }
  #header-big { display: block; }
}
/* DROPDOWN HEADER */
@media screen and (max-width: 1200px) {
  #header-big { display: none; }
  #header-small { display: block; }
}


/****************************************
            NORMAL HEADER
 ****************************************/

#header-container-big {
  background-color: #FFF;
  padding-left: 5%;
  padding-right: 0%;
  box-shadow: 0 2px 30px -10px rgba(0,0,0,0.5);

}
.header {
  height: 80px;
}

/* Microprediction Name */
#header-name {
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: #555f60;
  height: 80px;
  line-height: 80px;
  padding-right: 5%;
  display: inline;
}

.header a {
  float: left;
  font-size: 14px;
  color: #555f60;
  text-align: center;
  height: 80px;
  line-height: 80px;
  padding: 0px 15px;
  text-decoration: none;
  font-weight: bold;
}
.header-dropdown {
  float: left;
  overflow: hidden;
  padding: 0px 5px;
}
.header-dropdown .header-dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: #555f60;
  height: 80px;
  line-height: 80px;
  padding: 0px 15px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
}
.header a:hover, .header-dropdown:hover .header-dropbtn:hover {
  color: var(--theme-green);
}
.header-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 30px 80px -15px rgba(0,0,0,0.1);
  z-index: 1;
}
.header-dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 20px 15px;
  font-weight: normal;
}
.header-dropdown-content a:hover {
  color: var(--theme-green);
}
.header-dropdown:hover .header-dropdown-content {
  display: block;
}

/* Go to API button */
#header-api {
  float: right;
  background-color: var(--theme-purple);
  padding: 0px 10px;
  transition-duration: 0.4s;
}
#header-api a {
  color: #FFF;
  font-weight: bold;
  background-color: inherit;
}


/****************************************
            DROPDOWN HEADER
 ****************************************/

/* Styling for Dropdown Header comes from Bootstrap */
#navbar-section {
  color: white;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}



/********************************************************
 ********************************************************
                        FOOTER
 ********************************************************
 ********************************************************/

#footer-container {
  height: 35vh;
  padding-top: 10vh;
  position: relative;
  background-color: var(--bg-gray);
}
#footer {
  height: 100%;
  position: relative;
  left: 15%;
  width: 70%;
}
#footer-left, #footer-right {
  width: 45%;
  float: left;
}
#footer-links p {
  color: var(--theme-green); 
  font-weight:bold;
}
#footer-links a {
  color: white;
}
@media screen and (max-width: 800px) {
  #footer-left, #footer-right {
    width: 100%;
  }
}




/********************************************************
 ********************************************************
                  PERSISTENT BUTTONS
 ********************************************************
 ********************************************************/


button#persistent-dashboard-button {
  position: fixed;
  top: 220px;
  height: 140px;
  left: 0px;
  min-width: 40px;
  width: 3%;
  max-width: 60px;
  background-color: var(--theme-green);
  border-radius: 0px 15px 0px 0px;
  border: none;
  border-bottom: 1px solid #FFF;
  text-align: center;
  outline:none;
  margin: 0;
  padding: 0;
  transition-duration: 0.4s;
  z-index: 1;
}
button#persistent-leaderboard-button {
  position: fixed;
  top: 360px;
  height: 150px;
  left: 0px;
  min-width: 40px;
  width: 3%;
  max-width: 60px;
  background-color: var(--theme-green);
  border-radius: 0px 0px 15px 0px;
  border: none;
  border-top: 1px solid #FFF;
  text-align: center;
  outline:none;
  margin: 0;
  padding: 0;
  transition-duration: 0.4s;
  z-index: 1;
}
button#persistent-dashboard-button:hover, 
button#persistent-leaderboard-button:hover {
  background-color: var(--theme-purple);
  cursor: pointer;
}
#persistent-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: inline-block;
  color: #FFF;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.2em;
}

#mobile-persistent-buttons {
  display: none;
}
#mobile-link {
  color: #FFF;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;  
  display: block;
}


@media screen and (max-width: 475px) {
  button#persistent-dashboard-button {
    display: none;
  }
  button#persistent-leaderboard-button {
    display: none;
  }
  #mobile-persistent-buttons {
    display: inline-block;
  }
}



/********************************************************
 ********************************************************
                      WHITE SPACES
 ********************************************************
 ********************************************************/

#space {
  height: 10vh;
  position: relative;
}
#half-space {
  height: 5vh;
  position: relative;
}



/********************************************************
 ********************************************************
                          MISC
 ********************************************************
 ********************************************************/


.dashboard-title {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  padding-bottom: 2%;
}

/* "See More" div under Active Streams 
   and browse_streams divs */
#div-hover:hover {
  background: white;
  cursor: pointer;
}

.mini-button {
  color: white;
  background-color: var(--theme-red);
  border: none;
  border-radius: 20px;
}
.mini-button:hover {
  cursor: pointer;
}

/****************************************
            DROPDOWN BUTTON
 ****************************************/

.dropdown-container {
  flex: 1;
  display: none;
  background-color: var(--theme-green);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 16px;
  font-size: 0.9em;
  transition-duration: 0.4s;
}
.dropdown-container #dropdown-button {
  border: 2px solid var(--theme-green);
}
#dropdown-button {
  background-color: var(--theme-green);
  border: none;
  color: white;
  width: 100%;
  height: 100%;
}
#dropdown-button:hover, #dropdown-button:focus {
  outline: 0;
}
.dropdown-content {
  margin-top: 40px;
  border-radius: 8px;
  display: none;
  position: absolute;
  background-color: var(--theme-purple);
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  font-size: 0.9em;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content .log-out {
  color: #FFF;
  background-color: var(--theme-red);
  font-size: 0.9em;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show {display: block;}
